@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@200,300,400,500,600,700,800;1,300&family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    background-color: antiquewhite;
    h1 {
        text-align: center;
        color: rgb(173, 149, 117);
        font-size: 35px;
    }
    h3 {
        text-align: left;
        font-size: 25px;
        color: rgb(104, 79, 46);
    }
    .items {
        padding: 20px 40px;
        .add {
            input {
                padding: 7px 20px;
                font-size: 18px;
                border-radius: 20px;
                border: none;
                background-color: rgb(238, 216, 188);
                outline: none;
            }
            button {
                padding: 7px 20px;
                font-size: 18px;
                border-radius: 20px;
                border: none;
                background-color: rgb(172, 153, 129);
                color:rgb(240, 231, 218)
            }
        }
    }
}